# Logs don't belong.
*.log

# OS X needs to shut its mouth
*.DS_Store

# You too, Windows!
*.ini

# python compile files
*/__pycache__/*
*.pyc

# Prevent redundant built pages from unnecessarily being added
source/site/*

# Prevent built pages from being added to master.
css/*
fonts/*
img/*
js/*
mkdocs/*

en/*
ja/*
